<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @author.homepage %>
</p>

<table>
  <tr>
    <th>Authors</th>
  </tr>

  <% @author.papers.each do |paper| %>
    <tr>
      <td><%= paper.title %></td>
    </tr>
  <% end %>
</table>